
@charset "utf-8";
html{
    background-color: #004;
}
h1{
    color: #005aa0;
}

h2 {
    display: inline-block;
  background: linear-gradient(90deg, #c70000,#d28300,#dfd000,#00873c,#005aa0,#181878,#800073);
  background: -webkit-linear-gradient(0deg,#c70000,#d28300,#dfd000,#00873c,#005aa0,#181878,#800073);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3{
    color: aliceblue;
}

p{
    font-size: 32px;
    color: aliceblue;
}

.switch{
    color: aliceblue;
    font-size: 15px;
    border-style: none;
    background-color: skyblue;
    border-bottom: solid 3px #697ca5;
    border-right: solid 4px #697ca5;
    border-radius: 3px;
    padding: 0.5em 1em;

}
.switch:active{
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
    border-bottom: none;
    border-right: none;
}
.omi{
    background-color: #d28300;
    border-style: none;
}
.omi:active{
    -webkit-transform: translateX(15px);
}